git/src/main/mule/git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39d4e7e2-dc7c-4885-a80c-bb2981f1e06a" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="gitFlow" doc:id="2eee58b6-59d5-44c9-9047-9923775e9618" >
		<http:listener doc:name="Listener" doc:id="821ffa11-776f-4bf7-82eb-1cf80973ea18" config-ref="HTTP_Listener_config" path="/path" allowedMethods="GET"/>
		<set-payload value='#["Hello world project checkin into git"]' doc:name="Set Payload" doc:id="82aa18aa-c74c-4aff-bc70-1f96f8cfd650" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="270383bf-c957-45b6-9b21-b3ad5f5d8b1a" message="#[payload]"/>
	</flow>
</mule>
